h3 {
  color: blue; }

header {
  background-color: saddlebrown; }
  header div {
    padding: 10px; }
    header div h3 {
      font-size: 30px; }

a {
  text-decoration: none; }
  a:hover {
    color: red; }

.encabezado {
  background-color: aquamarine; }
  .encabezado--texto {
    font-size: 20px;
    font-weight: bold; }
