//VARIABLES
//DECLARAR Y DEFINIR
//$nombredelavariable:green;
//USAR LA VARIABLE DEFINIDA
//header{background-color: $nombredelavariable;}

$colorPrimario: blue;
$colorSecundario: orange;
$bgPrimario: yellow;
$bgSecundario: green;
$colorNegro: black;
$colorBlanco: white;

h3{color: $colorPrimario;}